<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
</head>
<body>
<div>
    <h2>Reset Your Password</h2>
</div>

<form th:action="@{/reset-password}" method="POST" style="max-width: 350px; margin: 0 auto;">
    <form action="/reset-password" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Submit</button>
    </form>
    <div th:if="${error}" class="error-message" th:text="${error}"></div>
</form>
</body>
</html>
