body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 50px;
    text-align: center;
    background-color: aliceblue;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: darkturquoise;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signin {
    text-align: center;
    margin-top: 20px;
}

.signin a {
    color: darkturquoise;
    text-decoration: none;
}
.error{
    color: red; font-size: 14px;text-align: center;margin-bottom: 5px; display: block;

}

